apiVersion: apps/v1
kind: Deployment
metadata:
  name: netflix-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: netflix
  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
      - name: netflix
        image: your-docker-id/netflix-clone:latest
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: netflix-service
spec:
  type: LoadBalancer
  selector:
    app: netflix
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
